/*html {
  background-color: #f1f1f1;
}*/

div {
  margin: 0;
}

h4 {
  margin-bottom: 2rem;
}

input {
  margin-bottom: .5rem;
}

.underBudget {
  color: green;
}

.overBudget {
  color: red;
  font-size: 170%;
}

.disabled {
  background-color: white;
}

.header {
  background-color: #23282d;
  /*box-shadow: 6px 1px 6px .5px rgba(30, 33, 35, .95);*/
  /*border-bottom: 1px solid rgba(173, 197, 137, .7);*/
  display: block;
  float: left;
  position: fixed;
  top: 0;
  width: 100%;
  height: 12%;
  margin-bottom: 0;
}

#logout {
  float: right;
  position: relative;
  top: 15px;
  right: 30px;
}

.adminBody {
  position: absolute;
  top: 13%;
  display: inline-block;
  width: 100%;
  z-index: -10;
}

.sideBar {
  background-color: #47515b;
  /*box-shadow: 1px 1px .5px 1px grey;*/
  width: 15%;
  min-width: 200px;
  height: 100vh;
  display: block;
  /*border: .1rem solid black;*/
  position: fixed;
  top: 8%;
  left: 0;
}

.visuals {
  position: relative;
  top: 8%;
  left: 22%;
  width: 80%;
  height: 100%;
  margin-left: 0;
  z-index: -15;
  pading-left: 0;
  padding: 0;
}

.addTacticButton,
.addTacticButton:visited{
  outline: 0;
  position: relative;
  font-size: 95%;
  letter-spacing: 1px;
  font-weight: 500;
  background-color: #f1f3f4;
  border: .1rem solid black;
  border-radius: 0 0 5px 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: auto;
  height: 3%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin: 0;
}

.addTacticButton:hover,
.addTacticButton:focus,
.addTacticButton:active{
  color: black;
  outline: 0;
  border: .1rem solid black;
  background-color: #ffb732;
  box-shadow: 1px 1px 6px 1px rgba(30, 33, 35, .5);
}

.tacticFormsBox {
  position: relative;
  margin-top: 3%;
  margin-bottom: 1%;
  max-width: 200px;
  border-radius: 1px;
  border: 1px solid #23282d;
  padding: 8px;
  background-color: #adb7c1;
}

.clientSubmit {
  border-radius: 4px;
  background-color: #23282d;
  color: #f1f1f1;
  font-weight: 200;
  letter-spacing: 2px;
}

.mediaPlanDD {
  margin-bottom: 1.5rem;
  width: 94%;
  margin-left: 3%;
}

.mediaPlanDD select {
  width: 100%;
  height: 3rem;
  border: .1rem solid rgba(30, 33, 35, 1);
  background-color: #FFFEF9;
  cursor: pointer;
  cursor: hand;
}

.tactic {
  max-width: 250px;
  margin-left: 0%;
  padding: 2rem;
  padding-top: 0;
}

.tactic h4 {
    font-weight: bolder;
}

.tactic label {
  font-size: 95%;
}

.tacticForm {
  display: inline;
}

.formHide {
  display: inline;
  border: .2rem outset red;
  color: red;
  font-size: 100%;
  font-weight: 900;
  width: 5rem;
}

.addTacticButton {
  display: block;
}

.pieWrapper {
  width: 80%;
  margin-left: 10%;
  height: 35vh;
  z-index: -11;
  position: absolute;
  top: 0;
  padding-top: 0;
  left: auto;
  text-align: center;
}

.pieWrapper pie-chart svg {
  padding: 0;
  width: 80%;
  margin-left: 15%;
}

.pieWrapper h2{
  margin: 0;
  width: 50%;
  font-size: 130%;
  margin-left: 25vw;

  /*border: .1rem solid black;*/
}

.mediaPlanTable {
  border-radius:  5px;
  height: auto;
  padding-bottom: 2rem;
  padding: 2rem;
  padding-left: 0;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

table *{
  padding: .5rem;
  border-spacing: 1rem;
  border-collapse: collapse;
  border: .1rem solid rgba(30, 33, 35, .95);
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 90%;
  /*margin: 2rem;*/
}

th {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #adb7c1;
  padding-left: 2rem;
  padding-right: 2rem;
}

tbody tr:nth-child(even){
  background: #e3e7ea;
}

td,
th {
  height: auto;
  width: auto;
  margin-bottom: .5rem;
}

.addTacticForm {
  margin-top: .3rem;
}

.submitTactic {
  background-color: #ffb732;
}
