
div.clientBody, div.sidebar {
  min-height: 100vh;
  background-color: #f5f5f5;
}

div.container-fluid {
  padding: 0;
  min-height: 100%;
}

div.sidebar {
  margin: 0;
  padding-top: 20px;
  background-color: #f5f5f5;
  height: 100%;
}

h1.page-header {
  margin-top: 20px;
  border-bottom: 1px solid rgba(238, 105, 39, .5);
  margin-bottom: 0;
  padding-left: 10px;
  font-weight: bold;
}

div.main {
  background-color: #fff;
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
}

div.mainDashboard {
  padding-left: 20px;
  padding-right: 15px;
}

div.placeholder {
  /*border: .1rem solid black;*/
}

h2.sub-header {
  margin-top: 3rem;
}

.heading2 {
  margin-bottom: 2rem;
  padding-left: 0;
  /*border-bottom: 1px solid lightgrey;*/
}

li.dashLink a:hover {
  background-color: #e1e1e1;
}

li.dashLink.active a:hover,
 li.dashLink.active a:focus{
  background-color: #eee;
  color: rgba(238, 105, 39, 1);
  cursor: default;
}

.dashLink.active {
  background-color: #eee;
  border-bottom: 1px solid black;
  color: rgba(238, 105, 39, 1);
}

input.dashInput {
  overflow-x: auto;
  border: none;
  background-color: transparent;
  width: auto;
}

input.dashInput[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
    background: #b20000;
}
input.dashInput[type='checkbox']:checked {
    background: #76EE00;
}

input.dashInput.wider {
  width: 150px;
}

textarea.dashInput {
  height: 50px;
  width: 100px;
}

td, th {
  text-align: center;
  /*width: 400px;*/
  white-space: nowrap;
}

tr {
  height: 20px;
}

.newClientSubmit.small {
  height: 30px;
  font-size: 10px;
}

th.hand {
  cursor: pointer;
}
