<!--
<div class="tacticFormContainer">
  <form class="tacticForm" ng-submit="submitFunction" ng-show="showModel" method="post">
      <label for="editForm">Add Tactic: </label>
      <input type="text" placeholder="Provider Name" ng-model="providerModel" required>
      <input type="text" placeholder="Tactic Name" ng-model="tacticModel" required>
      <input type="number" placeholder="Monthly Spend" ng-model="spendModel" required>
      <input class="submitTactic" type="submit" name="button">
  </form>
  <button class="formHide" type="button" name="button" ng-show="cancelButtonShow" ng-click="cancelButtonShow = false">X</button>
</div>
<button class="addTacticButton" type="button" name="button" ng-show="!cancelButtonShow" ng-click="cancelButtonShow = true">+ New Tactic</button> -->
