<div class="header">
  <a href="#/"><img class="logo" src="../media/adminLogo.png" alt="" /></a>
    <input type="button" class="btn btn-default logout" id="logout" name="name" value="logout" ng-click="ac.logout()">
</div>


<div class="adminBody">

    <div class="sideBar">

    </div>

    <div class="visuals">
        <div class="tacticFormsBox">

            <!-- *************************************************************************** -->
            <!-- CLIENT INFO FORM -->
            <!-- *************************************************************************** -->
            <div class="mediaPlanDD">
                <select ng-model="ac.selectedItem" ng-change="ac.selectItemChanged()">
                    <option value="">Create/Select a Plan</option>
                    <option ng-repeat="item in ac.accounts track by $index" value={{item.id}}>{{item.name}}</option>
                </select>
            </div>

            <form class="tactic clientInfo" ng-submit="ac.clientSubmit(ac.mediaPlan)" ng-init="clientInfoOpen = true" ng-show="clientInfoOpen" method="post">
                <label for="clientName">Client Name</label>
                <input type="text" class="form-control" id="clientName" placeholder="Client Name" ng-model="ac.mediaPlan.clientName" required>

                <label for="monthlyBudget">Monthly Budget</label>
                <input type="number" class="form-control" id="monthlyBudget" placeholder="Monthly Budget" ng-model="ac.mediaPlan.clientMonthlyBudget" required>

                <label for="year">Media Plan Year</label>
                <input type="number" class="form-control" id="year" placeholder="Year" ng-model="ac.mediaPlan.year" required>

                <button class="clientSubmit" type="submit">Submit</button>
            </form>
        </div>


        <!-- *************************************************************************** -->
        <!-- PIE CHART -->
        <!-- *************************************************************************** -->

        <div class="pieWrapper" ng-show="ac.mediaPlanShow">
            <h2 class="pieTitle">{{ac.mediaPlan.clientName}}  {{ac.mediaPlan.year}}</h2>
            <!-- <div class="svgWrapper"> -->
            <pie-chart pie-data="{{ac.officialMediaPlan}}"></pie-chart>
            <!-- </div> -->
        </div>


        <!-- *************************************************************************** -->
        <!-- MEDIA PLAN TABLE -->
        <!-- *************************************************************************** -->
        <div class="mediaPlanTable" ng-show="ac.mediaPlanShow">
            <h3 class="tableTitle">Media Plan By Tactic</h3>
            <h4 ng-class="{underBudget: ac.underBudget, overBudget: ac.overBudget}">
              {{ac.spendToBudget}}
            </h4>

<!-- ***************************************************************************************************************************************************** -->
            <!-- PPC TABLE -->
            <table class="tacticTable" id="ppcTactics">
                <thead>
                    <h4>PPC Tactics</h4>
                    <th>Provider</th>
                    <th>Tactic</th>
                    <th>Monthly Spend</th>
                    <th>Annual Total</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ac.officialMediaPlan[0]">
                        <td>{{item.provider_name}}</td>
                        <td>{{item.tactic_name}}</td>
                        <td>${{item.monthly_spend}}</td>
                        <td>${{item.monthly_spend*12}}</td>
                        <td>
                            <button type="button" name="button" ng-click="ac.editTactic(this.item, 'ppc'); ac.showEditPPC = true;">Edit</button>
                        </td>
                        <td>
                            <button type="submit" name="button" ng-click="ac.deleteTactic(this.item, 'ppc')">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="tacticFormContainer">
              <form class="tacticForm" name="editPPCForm" ng-show="ac.showEditPPC" ng-model="ac.ppcEdit" ng-submit="ac.editTacticSubmit(ac.ppcEdit, 'ppc')" method="post">
                  <label for="editForm">Edit Tactic: </label>
                  <input type="text" class="tacticField" name="name" ng-model="ac.ppcEdit.provider_name">
                  <input type="text" class="tacticField" name="name" ng-model="ac.ppcEdit.tactic_name">
                  <input type="decimal" class="tacticField" name="name" ng-model="ac.ppcEdit.monthly_spend">
                  <input class="submitTactic" type="submit">
              </form>
              <button class="formHide" type="button" name="button" ng-show="ac.showEditPPC" ng-click="ac.showEditPPC = false">X</button>
            </div>
<!-- ***************************************************************************************************************************************************** -->
            <div class="tacticFormContainer">
              <form class="tacticForm" ng-submit="ac.submitNewTactic(ac.ppcTactic, 'ppcTactic')" ng-show="ac.ppcFormShow" method="post">
                  <label for="editForm">Add Tactic: </label>
                  <input type="text" class="tacticField" placeholder="Provider Name" ng-model="ac.ppcTactic.providerName" required>
                  <input type="text" class="tacticField" placeholder="Tactic Name" ng-model="ac.ppcTactic.tacticName" required>
                  <input type="number" class="tacticField" placeholder="Monthly Spend" ng-model="ac.ppcTactic.tacticSpend" required>
                  <input class="submitTactic" type="submit" name="button">
              </form>
              <button class="formHide" type="button" name="button" ng-show="ac.ppcFormShow" ng-click="ac.ppcFormShow = false">X</button>
            </div>
            <button class="addTacticButton" type="button" name="button" ng-show="!ac.ppcFormShow" ng-click="ac.ppcFormShow = true">+ New Tactic</button>
            <br></br>

<!-- ***************************************************************************************************************************************************** -->
            <!-- CPM TABLE -->
            <table class="tacticTable" id="cpmTactics">
                <thead>
                    <h4>CPM Tactics</h4>
                    <th>Provider</th>
                    <th>Tactic</th>
                    <th>Monthly Spend</th>
                    <th>CPM</th>
                    <th>Contracted Impressions</th>
                    <th>Annual Total</th>
                </thead>

                <tbody>
                    <tr ng-repeat="item in ac.officialMediaPlan[1]">
                        <td>{{item.provider_name}}</td>
                        <td>{{item.tactic_name}}</td>
                        <td>${{item.monthly_spend}}</td>
                        <td>${{item.cost_per_thousand}}</td>
                        <td>{{(item.monthly_spend/item.cost_per_thousand) * 1000.00 | number : 0 }}</td>
                        <td>${{item.monthly_spend*12}}</td>
                        <td>
                            <button type="button" name="button" ng-click="ac.editTactic(this.item, 'cpm'); ac.showEditCPM = true;">Edit</button>
                        </td>
                        <td>
                            <button type="button" name="button" ng-click="ac.deleteTactic(this.item, 'cpm')" value="">Delete</button>
                        </td>
                    </tr>


                </tbody>
            </table>

            <div class="tacticFormContainer">
              <form class="tacticForm" name="editCPMForm" ng-show="ac.showEditCPM" ng-model="ac.cpmEdit" ng-submit="ac.editTacticSubmit(ac.cpmEdit, 'cpm')" method="post">
                  <label for="editForm">Edit Tactic: </label>
                  <input type="text" class="tacticField" name="name" ng-model="ac.cpmEdit.provider_name">
                  <input type="text" class="tacticField" name="name" ng-model="ac.cpmEdit.tactic_name">
                  <input type="decimal" class="tacticField" name="name" ng-model="ac.cpmEdit.monthly_spend">
                  <input type="decimal" class="tacticField" name="name" ng-model="ac.cpmEdit.cost_per_thousand">
                  <input class="submitTactic" type="submit">
              </form>
              <button class="formHide" type="button" name="button" ng-show="ac.showEditCPM" ng-click="ac.showEditCPM = false">X</button>
            </div>

            <div class="tacticFormContainer">
            <form class="tacticForm" ng-submit="ac.submitNewTactic(ac.cpmTactic, 'cpmTactic')" ng-show="ac.cpmFormShow" method="post">
                <label for="editForm">Add Tactic: </label>
                <input type="text" class="tacticField" id="ProviderName" placeholder="Provider Name" ng-model="ac.cpmTactic.providerName" required>
                <input type="text" class="tacticField" id="tacticName" placeholder="Tactic Name" ng-model="ac.cpmTactic.tacticName" required>
                <input type="number" class="tacticField" id="monthlySpend" placeholder="Monthly Spend" ng-model="ac.cpmTactic.tacticSpend" required>
                <input type="decimal" class="tacticField" id="cpm" placeholder="CPM" ng-model="ac.cpmTactic.cost_per_thousand" required>
                <input class="submitTactic" type="submit" name="button">
            </form>
            <button class="formHide" type="button" name="button" ng-show="ac.cpmFormShow" ng-click="ac.cpmFormShow = false">X</button>
            </div>
            <button class="addTacticButton" type="button" name="button" ng-show="!ac.cpmFormShow" ng-click="ac.cpmFormShow = true">+ New Tactic</button>

            <br></br>

<!-- ***************************************************************************************************************************************************** -->
            <!-- LISTINGS TABLE -->
            <table class="tacticTable" id="listingTactics">
                <thead>
                    <h4>Listing Tactics</h4>
                    <th>Provider</th>
                    <th>Tactic</th>
                    <th>Spend Per Comm.</th>
                    <th># Communities</th>
                    <th>Annual Total</th>
                </thead>

                <tbody>
                    <tr ng-repeat="item in ac.officialMediaPlan[2]">
                        <td>{{item.provider_name}}</td>
                        <td>{{item.tactic_name}}</td>
                        <td>${{item.monthly_spend}}</td>
                        <td>{{item.communities}}</td>
                        <td>${{(item.monthly_spend * item.communities) * 12}}</td>
                        <td>
                          <button type="button" name="button" ng-click="ac.editTactic(this.item, 'listing'); ac.showEditListing = true;">Edit</button>
                        </td>
                        <td>
                            <button type="button" name="button" ng-click="ac.deleteTactic(this.item, 'listings')">Delete</button>
                        </td>
                    </tr>

                </tbody>
            </table>

            <div class="tacticFormContainer">
              <form class="tacticForm" name="editForm" ng-show="ac.showEditListing" ng-model="ac.listingsEdit" ng-submit="ac.editTacticSubmit(ac.listingsEdit, 'listings')" method="post">
                  <label for="editForm">Edit Tactic: </label>
                  <input type="text" class="tacticField" ng-model="ac.listingsEdit.provider_name">
                  <input type="text" class="tacticField" ng-model="ac.listingsEdit.tactic_name">
                  <input type="decimal" class="tacticField" ng-model="ac.listingsEdit.monthly_spend">
                  <input type="decimal" class="tacticField" ng-model="ac.listingsEdit.communities">
                  <input class="submitTactic" type="submit">
              </form>
              <button class="formHide" type="button" name="button" ng-show="ac.showEditListing" ng-click="ac.showEditListing = false">X</button>
            </div>

            <div class="tacticFormContainer">
            <form class="tacticForm" ng-submit="ac.submitNewTactic(ac.listingTactic, 'listingTactic')" ng-show="ac.listingFormShow" method="post">
                <label for="tacticForm">Add Tactic: </label>
                <input type="text" class="tacticField" placeholder="Provider Name" ng-model="ac.listingTactic.providerName" required>
                <input type="text" class="tacticField" placeholder="Tactic Name" ng-model="ac.listingTactic.tacticName" required>
                <input type="number" class="tacticField" placeholder="Spend/Comm." ng-model="ac.listingTactic.tacticSpend" required>
                <input type="number" class="tacticField" placeholder="# Communities" ng-model="ac.listingTactic.communities" required>
                <input class="submitTactic" type="submit" name="button">
            </form>
            <button class="formHide" type="button" name="button" ng-show="ac.listingFormShow" ng-click="ac.listingFormShow = false">X</button>
            <div>
            <button class="addTacticButton" type="button" name="button" ng-show="!ac.listingFormShow" ng-click="ac.listingFormShow = true">+ New Tactic</button>

            <br></br>

<!-- ***************************************************************************************************************************************************** -->
            <!-- EMAIL TABLE -->
            <table class="tacticTable" id="emailTactics">
                <thead>
                    <h4>Email Tactics</h4>
                    <th>Provider</th>
                    <th>Tactic</th>
                    <th>Monthly Spend</th>
                    <th>Annual Total</th>
                </thead>

                <tbody>
                    <tr ng-repeat="item in ac.officialMediaPlan[3]">
                        <td>{{item.provider_name}}</td>
                        <td>{{item.tactic_name}}</td>
                        <td>${{item.monthly_spend}}</td>
                        <td>${{item.monthly_spend*12}}</td>
                        <td>
                            <button type="button" name="button" ng-click="ac.editTactic(this.item, 'email'); ac.showEditEmail = true;">Edit</button>
                        </td>
                        <td>
                            <button type="button" name="button" ng-click="ac.deleteTactic(this.item, 'email')" value="">Delete</button>
                        </td>
                    </tr>

                </tbody>
            </table>

            <div class="tacticFormContainer">
              <form class="tacticForm" name="editEmailForm" ng-show="ac.showEditEmail" ng-model="ac.emailEdit" ng-submit="ac.editTacticSubmit(ac.emailEdit, 'email', 'emailTactic')" method="post">
                  <label for="editForm">Edit Tactic: </label>
                  <input type="text" class="tacticField" name="name" ng-model="ac.emailEdit.provider_name">
                  <input type="text" class="tacticField" name="name" ng-model="ac.emailEdit.tactic_name">
                  <input type="decimal" class="tacticField" name="name" ng-model="ac.emailEdit.monthly_spend">
                  <input class="submitTactic" type="submit">
              </form>
              <button class="formHide" type="button" name="button" ng-show="ac.showEditEmail" ng-click="ac.showEditEmail = false">X</button>
            </div>

            <div class="tacticFormContainer">
            <form class="tacticForm" ng-submit="ac.submitNewTactic(ac.emailTactic, 'emailTactic')" ng-show="ac.emailFormShow" method="post">
                <label for="tacticForm">Add Tactic: </label>
                <input type="text" class="tacticField" id="ProviderName" placeholder="Provider Name" ng-model="ac.emailTactic.providerName" required>
                <input type="text" class="tacticField" id="tacticName" placeholder="Tactic Name" ng-model="ac.emailTactic.tacticName" required>
                <input type="number" class="tacticField" id="monthlySpend" placeholder="Monthly Spend" ng-model="ac.emailTactic.tacticSpend" required>
                <input class="submitTactic" type="submit" name="button">
            </form>
            <button class="formHide" type="button" name="button" ng-show="ac.emailFormShow" ng-click="ac.emailFormShow = false">X</button>
            <div>
            <button class="addTacticButton" type="button" name="button" ng-show="!ac.emailFormShow" ng-click="ac.emailFormShow = true">+ New Tactic</button>

            <br></br>

<!-- ***************************************************************************************************************************************************** -->
            <!-- FLAT-FEE TABLE -->
            <table class="tacticTable" id="flatFeeTactics">
                <thead>
                    <h4>Flat-Fee Tactics</h4>
                    <th>Provider</th>
                    <th>Tactic</th>
                    <th>Monthly Spend</th>
                    <th>Annual Total</th>
                </thead>

                <tbody>
                    <tr ng-repeat="item in ac.officialMediaPlan[4]">
                        <td>{{item.provider_name}}</td>
                        <td>{{item.tactic_name}}</td>
                        <td>${{item.monthly_spend}}</td>
                        <td>${{item.monthly_spend*12}}</td>
                        <td>
                            <button type="button" name="button" ng-click="ac.editTactic(this.item, 'flatFee'); ac.showEditFlatFee = true;">Edit</button>
                        </td>
                        <td>
                            <button type="button" name="button" ng-click="ac.deleteTactic(this.item, 'flat_fee')">Delete</button>
                        </td>
                    </tr>

                </tbody>
            </table>

            <div class="tacticFormContainer">
              <form class="tacticForm" name="editFlatFeeForm" ng-show="ac.showEditFlatFee" ng-model="ac.emailFlatFee" ng-submit="ac.editTacticSubmit(ac.flatFeeEdit, 'flat_fee')" method="post">
                  <label for="editForm">Edit Tactic: </label>
                  <input type="text" class="tacticField" name="name" ng-model="ac.flatFeeEdit.provider_name">
                  <input type="text" class="tacticField" name="name" ng-model="ac.flatFeeEdit.tactic_name">
                  <input type="decimal" class="tacticField" name="name" ng-model="ac.flatFeeEdit.monthly_spend">
                  <input class="submitTactic" type="submit">
              </form>
              <button class="formHide" type="button" name="button" ng-show="ac.showEditFlatFee" ng-click="ac.showEditFlatFee = false">X</button>
            </div>

            <div class="tacticFormContainer">
            <form class="tacticForm" ng-submit="ac.submitNewTactic(ac.flatFeeTactic, 'flatFeeTactic')" ng-show="ac.flatFeeFormShow" method="post">
                <label for="tacticForm">Add Tactic: </label>
                <input type="text" class="tacticField" id="ProviderName" placeholder="Provider Name" ng-model="ac.flatFeeTactic.providerName" required>
                <input type="text" class="tacticField" id="tacticName" placeholder="Tactic Name" ng-model="ac.flatFeeTactic.tacticName" required>
                <input type="number" class="tacticField" id="monthlySpend" placeholder="Monthly Spend" ng-model="ac.flatFeeTactic.tacticSpend" required>
                <input class="submitTactic" type="submit" name="button">
            </form>
            <button class="formHide" type="button" name="button" ng-show="ac.flatFeeFormShow" ng-click="ac.flatFeeFormShow = false">X</button>
            <div>
            <button class="addTacticButton" type="button" name="button" ng-show="!ac.flatFeeFormShow" ng-click="ac.flatFeeFormShow = true">+ New Tactic</button>
        </div>

        <!-- <test-directive my-data="{{ac.officialMediaPlan}}"></test-directive> -->

    </div>


    <!-- adminBody div -->
