<div class="header">
    <input type="button" class="btn btn-default logout" id="logout" name="name" value="logout" ng-click="ac.logout()">
</div>

<div class="adminBody">

    <div class="sideBar">

    </div>

    <div class="visuals">

        <!-- *************************************************************************** -->
        <!-- TACTIC SELECTOR TABS -->
        <!-- *************************************************************************** -->
        <div class="addTactics">
            <div class="buttonsBox">
                <button type="button" name="button" class="btn btn-default" id="addButton" ng-click="clientInfoOpen = !clientInfoOpen">Client Info</button>
                <button type="button" name="button" class="btn btn-default" id="addButton" ng-click="ppcTacticOpen = !ppcTacticOpen">PPC Tactic</button>
                <button type="button" name="button" class="btn btn-default" id="addButton" ng-click="cpmTacticOpen = !cpmTacticOpen">CPM Tactic</button>
                <button type="button" name="button" class="btn btn-default" id="addButton" ng-click="eblastTacticOpen = !eblastTacticOpen">Email Tactic</button>
                <button type="button" name="button" class="btn btn-default" id="addButton" ng-click="flatTacticOpen = !flatTacticOpen">Flat Fee Tactic</button>
                <button type="button" name="button" class="btn btn-default" id="addButton" ng-click="listingTacticOpen = !listingTacticOpen">Listing Tactic</button>
            </div>
        </div>

        <div class="tacticFormsBox">
          <h3>Create Media Tactics Here: </h3>
            <!-- *************************************************************************** -->
            <!-- PPC TACTIC FORM -->
            <!-- *************************************************************************** -->
            <form class="tactic ppcTactic" ng-submit="ac.tacticSubmit()" ng-init="ppcTacticOpen = false" ng-show="ppcTacticOpen" method="post">
                <h3>PPC Tactic</h3>
                <div class="form-group">
                    <label for="providerName">Provider Name</label>
                    <input type="text" class="form-control" id="providerName" placeholder="Provider Name" ng-model="ac.ppcTactic.providerName" required>
                </div>
                <div class="form-group">
                    <label for="tactic">Tactic Name</label>
                    <input type="text" class="form-control" id="tactic" placeholder="Tactic" ng-model="ac.ppcTactic.tacticName" required>
                </div>
                <div class="form-group">
                    <label for="contractedImpressions">Contracted Clicks (Monthly)</label>
                    <input type="number" class="form-control" id="contractedClicks" placeholder="Contracted Clicks (Monthly)" ng-model="ac.ppcTactic.contractedClicks" required>
                </div>
                <div class="form-group">
                    <label for="tacticSpend">Tactic Spend (Monthly)</label>
                    <input type="number" class="form-control" id="tacticSpend" placeholder="Tactic Spend (Monthly)" ng-model="ac.ppcTactic.tacticSpend" required>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>



            <!-- *************************************************************************** -->
            <!-- CPM TACTIC FORM -->
            <!-- *************************************************************************** -->
            <form class="tactic cpmTactic" ng-submit="ac.tacticSubmit()" ng-init="cpmTacticOpen = false" ng-show="cpmTacticOpen" method="post">
                <h3>CPM Tactic (Display)</h3>
                <div class="form-group">
                    <label for="providerName">Provider Name</label>
                    <input type="text" class="form-control" id="providerName" placeholder="Provider Name" ng-model="ac.ppcTactic.providerName" required>
                </div>
                <div class="form-group">
                    <label for="tactic">Tactic Name</label>
                    <input type="text" class="form-control" id="tactic" placeholder="Tactic" ng-model="ac.ppcTactic.tacticName" required>
                </div>
                <div class="form-group">
                    <label for="contractedClicks">Contracted Impressions (Monthly)</label>
                    <input type="number" class="form-control" id="contractedClicks" placeholder="Contracted Impressions (Monthly)" ng-model="ac.ppcTactic.contractedClicks" required>
                </div>
                <div class="form-group">
                    <label for="tacticSpend">Tactic Spend (Monthly)</label>
                    <input type="number" class="form-control" id="tacticSpend" placeholder="Tactic Spend (Monthly)" ng-model="ac.ppcTactic.tacticSpend" required>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>


        </div>

        <div class="pieChartWrapper">

        </div>

    </div><!-- visuals div -->


    <div class="mediaPlanTable">
        <h3 class="tableTitle">Total Monthly Budget by Vendor</h3>
        <table id="mediaPlan">
                <thead>
                  <th>Vendor</th>
                  <th>Spend</th>
                  <th>% of Total</th>
                  <th>Annual Total</th>
                </thead>

            <tbody>
              <tr ng-repeat="item in ac.mediaPlan">
                <td>{{item.providerName}}</td>
                <td>${{item.tacticSpend}}</td>
              </tr>

            </tbody>
        </table>
    </div>


</div>
<!-- adminBody div -->

<!-- {{ac.ppcTactic}}
