
<div class="container">
    <div class="row header">
          <span class="col-md-1 col-sm-1 col-xs-1"><a href="#/"><img class="logo" src="../media/adminLogo.png" alt="" /></a></span>
          <span class="col-md-11 col-sm-11 col-xs-11 navParent">
            <ul class="nav nav-tabs navigation">
                <li role="presentation"><a href="#/admin">Media Planner</a></li>
                <li role="presentation" class="active"><a href="#/checklist">Media Checklist</a></li>
            </ul>
            <a class="logoutButton" href="#/" ng-click="cc.logout()">Logout</a>
          </span>
    </div>
</div>

<div class="container">
    <div class="row dropDownRow">
        <div class="mediaDD col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
            <select ng-model="cc.selectedItem" ng-change="cc.selectItemChanged()">
            <option value="">Select a Plan</option>
            <option ng-repeat="item in cc.accounts | orderBy : 'name' track by $index" value={{item.id}}>{{item.name}}</option>
        </select>
        </div>
    </div>

    <div class="row tableHeaders" ng-show="cc.showHeaders">
        <h5 class="col-md-1 col-md-offset-4 col-sm-1 col-sm-offset-4 titles">I.O. Req.</h5>
        <h5 class="col-md-1 col-sm-1 titles">I.O. Rec.</h5>
        <h5 class="col-md-1 col-sm-1 titles">I.O. Signed</h5>
        <h5 class="col-md-1 col-sm-1 titles">I.O. C-Signed</h5>
        <h5 class="col-md-1 col-sm-1 titles">Creative In</h5>
        <h5 class="col-md-1 col-sm-1 titles">Creative Subm.</h5>
        <h5 class="col-md-1 col-sm-1 titles">Creative Live</h5>
    </div>

    <div class="row checklistRow" ng-repeat="item in cc.mediaPlan | orderBy : 'provider_name'">
        <div class="form-horizontal tacticChecks">
            <form class="checkForm" ng-submit="cc.checkSubmit(item)" method="post" ng-model="cc.models[item.tactic_id]">


                <div class="col-md-2 col-sm-2 col-xs-6 tacticTitle">{{item.provider_name}}</div>
                <div class="col-md-2 col-sm-2 col-xs-6 tacticTitle">{{item.tactic_name}}</div>

                <div class="col-md-1 col-sm-1 checkboxes">
                  <label class="checkLabels" for="">I.O. Req.</label>
                  <input type="checkbox" ng-checked="item.io_requested" ng-click="item.io_requested = !item.io_requested; cc.models[item.tacticType][item.tactic_id].color = {'background-color': '#ee6927'}">
                </div>

                <div class="col-md-1 col-sm-1 checkboxes">
                  <label class="checkLabels" for="">I.O. Rec.</label>
                  <input type="checkbox" ng-checked="item.io_received" ng-click="item.io_received = !item.io_received; cc.models[item.tacticType][item.tactic_id].color = {'background-color': '#ee6927'}">
                </div>

                <div class="col-md-1 col-sm-1 checkboxes">
                  <label class="checkLabels" for="">I.O. Signed</label>
                  <input type="checkbox" ng-checked="item.io_signed" ng-click="item.io_signed = !item.io_signed; cc.models[item.tacticType][item.tactic_id].color = {'background-color': '#ee6927'}">
                </div>

                <div class="col-md-1 col-sm-1 checkboxes">
                  <label class="checkLabels" for="">I.O. C-Signed</label>
                  <input type="checkbox" ng-checked="item.io_countersigned" ng-click="item.io_countersigned = !item.io_countersigned; cc.models[item.tacticType][item.tactic_id].color = {'background-color': '#ee6927'}">
                </div>

                <div class="col-md-1 col-sm-1 checkboxes">
                  <label class="checkLabels" for="">Creative In</label>
                  <input type="checkbox" ng-checked="item.creative_approved" ng-click="item.creative_approved = !item.creative_approved; cc.models[item.tacticType][item.tactic_id].color = {'background-color': '#ee6927'}">
                </div>

                <div class="col-md-1 col-sm-1 checkboxes">
                  <label class="checkLabels" for="">Creative Subm.</label>
                  <input type="checkbox" ng-checked="item.creative_submitted" ng-click="item.creative_submitted = !item.creative_submitted; cc.models[item.tacticType][item.tactic_id].color = {'background-color': '#ee6927'}">
                </div>

                <div class="col-md-1 col-sm-1 checkboxes">
                  <label class="checkLabels" for="">Creative Live</label>
                  <input type="checkbox" ng-checked="item.creative_live" ng-click="item.creative_live = !item.creative_live; cc.models[item.tacticType][item.tactic_id].color = {'background-color': '#ee6927'}">
                </div>

                <div class="col-md-1 col-sm-1 submitCheckDiv"><input class="submitCheck" type="submit" name="name" ng-style="cc.models[item.tacticType][item.tactic_id].color" ng-click="cc.models[item.tacticType][item.tactic_id].color = ''"></div>

            </form>
        </div>
    </div>

    <form class="checkCommentForm" ng-submit="cc.commentSubmit(cc.comments)" method="post" ng-show="cc.showHeaders">
      <label for="checklistComments">Checklist Comments: </label>
      <textarea id="checklistComments" name="name" rows="8" cols="40" ng-model="cc.comments.checklist_comments"></textarea>

      <input type="submit" name="name" value="Submit Comments">
    </form>

</div>
