<div class="clientBody">
  <div class="container">
      <div class="row header">
            <span class="col-md-1 col-sm-1 col-xs-1"><a href="#/"><img class="logo" src="../media/adminLogo.png" alt="" /></a></span>
            <span class="col-md-11 col-sm-11 col-xs-11 navParent">
              <ul class="nav nav-tabs navigation">
                  <li role="presentation" class="active"><a href="#/dashboard">5Weight Dashboard</a></li>
                  <li role="presentation"><a href="#/admin">Media Planner</a></li>
                  <li role="presentation"><a href="#/checklist">Media Checklist</a></li>
              </ul>
              <a class="logoutButton" href="#/" ng-click="dc.logout()">Logout</a>
            </span>
      </div>
  </div>

  <div class="container-fluid">
        <div class="row" id="dashSidebar">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar" id="sidebar">
              <li class="dashLink active"><a href="#/dashboard">Overview</a></li>
              <li class="dashLink"><a href="#/dashboard/clients">Clients</a></li>
              <li class="dashLink"><a href="#/dashboard/reports">Reports</a></li>
              <li class="dashLink"><a href="#/dashboard/providers">Provider Contacts</a></li>
            </ul>
          </div>
          <div class="col-sm-9 col-md-10 main">
            <!-- mainDashboard -->
              <h1 class="page-header">5Weight Dashboard</h1>
              <div class="mainDashboard">
                <h2 class="heading2">Recently Completed Reports</h2>

                <div class="row placeholders">
                  <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                  </div>
                </div>

                <h2 class="sub-header">Monthly Reporting Overview</h2>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Report Name</th>
                        <th>Client</th>
                        <th>5W Employee</th>
                        <th>Complete By: </th>
                        <th>% Complete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Candelas</td>
                        <td>Candelas</td>
                        <td>Meridith</td>
                        <td>12/5</td>
                        <td>73%</td>
                      </tr>
                      <tr>
                        <td>Candelas</td>
                        <td>Candelas</td>
                        <td>Meridith</td>
                        <td>12/5</td>
                        <td>73%</td>
                      </tr>
                      <tr>
                        <td>Candelas</td>
                        <td>Candelas</td>
                        <td>Meridith</td>
                        <td>12/5</td>
                        <td>73%</td>
                      </tr>
                      <tr>
                        <td>Candelas</td>
                        <td>Candelas</td>
                        <td>Meridith</td>
                        <td>12/5</td>
                        <td>73%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            <!-- mainDashboard -->
          </div>
        </div>
      </div>
</div>
