
<div class="pageOutline">
  <img class="printLogo" src="../media/5weight_logo.jpg" alt="" />
  <h3 class="printTitle">Back Country 2017</h3>
  <div class="piePreview">
    <div class="pie">
      <pie-chart pie-data="{{pc.mediaPlan}}"></pie-chart>
    </div>
  </div>

  <div class="tables">
    <!-- PPC TABLE -->
    <table class="printTables" id="ppcTactics">
        <thead>
            <h5>PPC Tactics</h5>
            <th>Provider</th>
            <th>Tactic</th>
            <th>Monthly Spend</th>
            <th>Annual Total</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in pc.mediaPlan[0] | orderBy : 'provider_name'">
                <td>{{item.provider_name}}</td>
                <td>{{item.tactic_name}}</td>
                <td>${{item.monthly_spend}}</td>
                <td>${{item.monthly_spend*12}}</td>
            </tr>
        </tbody>
    </table>

    <!-- CPM TABLE -->
    <table class="printTables" id="cpmTactics">
        <thead>
            <h5>CPM Tactics</h5>
            <th>Provider</th>
            <th>Tactic</th>
            <th>Monthly Spend</th>
            <th>CPM</th>
            <th>Contracted Impressions</th>
            <th>Annual Total</th>
        </thead>

        <tbody>
            <tr ng-repeat="item in pc.mediaPlan[1] | orderBy : 'provider_name'">
                <td>{{item.provider_name}}</td>
                <td>{{item.tactic_name}}</td>
                <td>${{item.monthly_spend}}</td>
                <td>${{item.cost_per_thousand}}</td>
                <td>{{(item.monthly_spend/item.cost_per_thousand) * 1000.00 | number : 0 }}</td>
                <td>${{item.monthly_spend*12}}</td>
            </tr>
        </tbody>
    </table>

    <!-- LISTINGS TABLE -->
    <table class="printTables" id="listingTactics">
        <thead>
            <h5>Listing Tactics</h5>
            <th>Provider</th>
            <th>Tactic</th>
            <th>Spend Per Comm.</th>
            <th># Communities</th>
            <th>Monthly Total</th>
            <th>Annual Total</th>
        </thead>

        <tbody>
            <tr ng-repeat="item in pc.mediaPlan[2] | orderBy : 'provider_name'">
                <td>{{item.provider_name}}</td>
                <td>{{item.tactic_name}}</td>
                <td>${{item.monthly_spend/item.communities}}</td>
                <td>{{item.communities}}</td>
                <td>${{(item.monthly_spend)}}</td>
                <td>${{(item.monthly_spend) * 12}}</td>
            </tr>
        </tbody>
    </table>

    <!-- EMAIL TABLE -->
    <table class="printTables" id="emailTactics">
        <thead>
            <h5>Email Tactics</h5>
            <th>Provider</th>
            <th>Tactic</th>
            <th>Cost Per Email</th>
            <th>Frequency</th>
            <th>Monthly Spend</th>
            <th>Annual Total</th>
        </thead>

        <tbody>
            <tr ng-repeat="item in pc.mediaPlan[3] | orderBy : 'provider_name'">
                <td>{{item.provider_name}}</td>
                <td>{{item.tactic_name}}</td>
                <td>${{((item.monthly_spend * 12)/item.emails_per_year) | number : 0}}</td>
                <td>{{item.emails_per_year}}</td>
                <td>${{item.monthly_spend | number : 0}}</td>
                <td>${{(item.monthly_spend * 12) | number : 0}}</td>
            </tr>

        </tbody>
    </table>

    <!-- FLAT-FEE TABLE -->
    <table class="printTables" id="flatFeeTactics">
        <thead>
            <h5>Flat-Fee Tactics</h5>
            <th>Provider</th>
            <th>Tactic</th>
            <th>Monthly Spend</th>
            <th>Annual Total</th>
        </thead>

        <tbody>
            <tr ng-repeat="item in pc.mediaPlan[4] | orderBy : 'provider_name'">
                <td>{{item.provider_name}}</td>
                <td>{{item.tactic_name}}</td>
                <td>${{item.monthly_spend}}</td>
                <td>${{item.monthly_spend*12}}</td>
            </tr>

        </tbody>
    </table>

  </div>
</div>
