
<div class="pageOutline">
  <img class="printLogo" src="../media/5weight_logo.jpg" alt="" />
  <h3 class="printTitle">{{pc.info.clientName}} {{pc.info.year}}</h3>

  <div class="piePreview">
    <div class="pie">
      <pie-chart pie-data="{{pc.mediaPlan}}"></pie-chart>
    </div>
  </div>

  <div class="spendData">
    <table class="spendTable">
      <thead>
        <h6>Spend Data</h6>
        <th>Budget</th>
        <th>Planned</th>
        <th>Remaining</th>
      </thead>

      <tbody>
        <td>{{pc.info.monthlyBudget}}</td>
        <td>{{pc.info.spend}}</td>
        <td>{{pc.info.monthlyBudget - pc.info.spend}}</td>
      </tbody>

    </table>
  </div>

  <div class="providerData">
    <table class="providerTable">
      <thead>
        <h6>Provider Data</h6>
        <th>Name</th>
        <th>Spend</th>
        <th>% of Total</th>
      </thead>

      <!-- <tbody ng-repeat="(key, val) in pc.providerSpends">
        <td>{{key}}</td>
        <td>${{val}}</td>
        <td>{{(val / pc.info.spend)*100 | number : 0}}%</td>
      </tbody> -->

      <tbody ng-repeat="item in pc.providerArr | orderBy : value : true">
        <td>{{item.key}}</td>
        <td>${{item.value}}</td>
        <td>{{(item.value / pc.info.spend)*100 | number : 0}}%</td>
      </tbody>

    </table>
  </div>

  <div class="tables">



    <!-- PPC TABLE -->
    <table class="printTables" id="ppcTactics" ng-show="pc.ppcShow">
        <thead>
            <caption>PPC Tactics</caption>
            <th>Provider</th>
            <th>Tactic</th>
            <th>Monthly Spend</th>
            <th>Annual Total</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in pc.mediaPlan[0] | orderBy : 'provider_name'">
                <td>{{item.provider_name}}</td>
                <td>{{item.tactic_name}}</td>
                <td>${{item.monthly_spend}}</td>
                <td>${{item.monthly_spend*12}}</td>
            </tr>
        </tbody>
    </table>

    <!-- CPM TABLE -->
    <table class="printTables" id="cpmTactics" ng-show="pc.cpmShow">
        <thead>
            <caption>CPM Tactics</caption>
            <th>Provider</th>
            <th>Tactic</th>
            <th>Monthly Spend</th>
            <th>CPM</th>
            <th>Contracted Impressions</th>
            <th>Annual Total</th>
        </thead>

        <tbody>
            <tr ng-repeat="item in pc.mediaPlan[1] | orderBy : 'provider_name'">
                <td>{{item.provider_name}}</td>
                <td>{{item.tactic_name}}</td>
                <td>${{item.monthly_spend}}</td>
                <td>${{item.cost_per_thousand}}</td>
                <td>{{(item.monthly_spend/item.cost_per_thousand) * 1000.00 | number : 0 }}</td>
                <td>${{item.monthly_spend*12}}</td>
            </tr>
        </tbody>
    </table>

    <!-- LISTINGS TABLE -->
    <table class="printTables" id="listingTactics" ng-show="pc.listingsShow">
        <thead>
            <caption>Listing Tactics</caption>
            <th>Provider</th>
            <th>Tactic</th>
            <th>Spend Per Comm.</th>
            <th># Communities</th>
            <th>Monthly Total</th>
            <th>Annual Total</th>
        </thead>

        <tbody>
            <tr ng-repeat="item in pc.mediaPlan[2] | orderBy : 'provider_name'">
                <td>{{item.provider_name}}</td>
                <td>{{item.tactic_name}}</td>
                <td>${{item.monthly_spend/item.communities}}</td>
                <td>{{item.communities}}</td>
                <td>${{(item.monthly_spend)}}</td>
                <td>${{(item.monthly_spend) * 12}}</td>
            </tr>
        </tbody>
    </table>

    <!-- EMAIL TABLE -->
    <table class="printTables" id="emailTactics" ng-show="pc.emailShow">
        <thead>
            <caption>Email Tactics</caption>
            <th>Provider</th>
            <th>Tactic</th>
            <th>Cost Per Email</th>
            <th>Frequency</th>
            <th>Monthly Spend</th>
            <th>Annual Total</th>
        </thead>

        <tbody>
            <tr ng-repeat="item in pc.mediaPlan[3] | orderBy : 'provider_name'">
                <td>{{item.provider_name}}</td>
                <td>{{item.tactic_name}}</td>
                <td>${{((item.monthly_spend * 12)/item.emails_per_year) | number : 0}}</td>
                <td>{{item.emails_per_year}}</td>
                <td>${{item.monthly_spend | number : 0}}</td>
                <td>${{(item.monthly_spend * 12) | number : 0}}</td>
            </tr>

        </tbody>
    </table>

    <!-- FLAT-FEE TABLE -->
    <table class="printTables" id="flatFeeTactics" ng-show="pc.flatFeeShow">
        <thead>
            <caption>Flat-Fee Tactics</caption>
            <th>Provider</th>
            <th>Tactic</th>
            <th>Monthly Spend</th>
            <th>Annual Total</th>
        </thead>

        <tbody>
            <tr ng-repeat="item in pc.mediaPlan[4] | orderBy : 'provider_name'">
                <td>{{item.provider_name}}</td>
                <td>{{item.tactic_name}}</td>
                <td>${{item.monthly_spend}}</td>
                <td>${{item.monthly_spend*12}}</td>
            </tr>

        </tbody>
    </table>

  </div>
</div>

<div class="hideButtons">
  <button id="ppcButton" type="button" name="button" ng-click="pc.ppcShow = !pc.ppcShow">Toggle PPC</button>
  <button type="button" name="button" ng-click="pc.cpmShow = !pc.cpmShow">Toggle CPM</button>
  <button type="button" name="button" ng-click="pc.listingsShow = !pc.listingsShow">Toggle Listings</button>
  <button type="button" name="button" ng-click="pc.emailShow = !pc.emailShow">Toggle Email</button>
  <button type="button" name="button" ng-click="pc.flatFeeShow = !pc.flatFeeShow">Toggle Flat-Fee</button>

</div>
